[submodule "bashtop"]
	path = bashtop
	url = https://github.com/aristocratos/bashtop.git
[submodule "far2l/far2l"]
	path = far2l/far2l
	url = https://github.com/elfmz/far2l.git
[submodule "gitflow/gitflow"]
	path = gitflow/gitflow
	url = https://github.com/petervanderdoes/gitflow-avh.git
[submodule "fpcupdeluxe"]
	path = fpcupdeluxe
	url = https://github.com/Andry-Smirnov/fpcupdeluxe.git
